html{
    background-color: #86abdec3;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home body{
    background-color: #2c2f75;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.home div{
    background-color: #73a3e7c3;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.home p{
    background-color: #eef1ff;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav li{
    display: inline-block;
    margin-right: 1rem;
    background-color: #4caff6;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav li a:hover{
    background-color: #da3535;
    color:aliceblue;
}

.homenav li{
    display: inline-block;
    margin-right: 1rem;
    background-color: #7a8bd8;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.homenav li a:hover{
    background-color: #26ff00;
    color: #000000;
}